/Message.class
/MessageDeconnexion.class
/MessageDemConnexion.class
/MessageDemTicket.class
/MessageNouveauMessage.class
/MessageReponseConnexion.class
/MessageTicket.class
/MessageGroupe.class
/MessageMiseAJourEtat.class
/MessageNouveauMessageConversation.class
